/* Native----------------------------- */

html {
  height: 100%
}

/* Ids-------------------------------- */

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#boardSize {
  width: 40px;
}

/* Classes---------------------------- */
.hidden {
  display: none;
}

.container {
  /* display: none; */
  border-radius: 10px;
  border-right: 1px  dotted black;
  border-bottom: 1px dotted black;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  padding: 10px;
  margin: 10px;
}


.box {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 2px 2px 2px #bbb,
              4px 4px 4px #ccc,
              6px 6px 6px #eee;
  /* box-shadow: 2px 2px 2.2px rgba(180, 3, 3, 0.541),
              4px 4px 5.3px rgba(109, 18, 18, 0.603),
              8px 8px 10px rgba(109, 22, 22, 0.514),
              10px 10px 17.9px rgba(104, 27, 27, 0.274),
              12px 12px 33.4px rgb(255, 0, 0, .25); */
}
